<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Floral Fungi</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <div class="nav">
    <a href="/logout">Log out</a>
  </div>
  <div id="app-page">
    {{!-- <div id="game-screen">
    </div> --}}
    <img src="/assets/img/background.jpg" alt="" id="game-screen">
    {{!-- <canvas id="game-screen"></canvas> --}}

    <div id="sideDiv">
      <div id="flowers-settings">
        <h3 id="total-current-flowers">Total Flowers: 0</h3>
        <button id="setting-button">Settings</button>
      </div>

      <div id="shop-area">
        <p id="flowerError">You Dont have Enough Flowers!</p>


        <div id="shop-item">
          <img src="/assets/img/buttonmush.jpg" alt="button" class='buttonMush' id="temp-img">
          {{!-- <div id="temp-img">img</div> --}}
          <div id="shop-item-info">
            <h3 id="mush-name">Button</h3>
            <p id="mush-desc">
              Button is a gentle soul and has a kind heart. Button is incredibly empathetic and always puts others
              before
              itself. Although Button is very shy, Button deeply craves connection and companionship. Button longs for a
              friend
              who can understand and accept it for who it is, despite its shyness.

              Button is incredibly shy and often hides under leaves or behind other objects to avoid
              being noticed. Button is easily startled and will quickly retreat into its hiding spot at the slightest
              sign of danger or confrontation, leaving Button to not grab many flowers when out and about</p>
            <p id="cost">Flower increase: +1 || Cost: 10</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom1">Buy</button>
            <p id="button-have">Have: 1</p>
          </div>
        </div>



        <div id="shop-item">
          <img src="/assets/img/inkmush.jpg" alt="button" id="temp-img">
          <div id="shop-item-info">
            <h3 id="mush-name">Myco</h3>
            <p id="mush-desc">Myco is a creepy fella that may seem off-putting at first glance. They're quite reserved
              and
              don't say much, often causing others to feel uncomfortable around them. However, once you get to know
              them, you'll quickly realize that Myco is one of the sweetest characters you'll ever meet. Despite their
              quiet demeanor, they have a heart of gold and are always willing to lend a helping hand to those in need.
            </p>
            <p id="cost">Flower increase: +8 || Cost: 80</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom2">Buy</button>
            <p id="myco-have">Have: 0</p>
          </div>
        </div>




        <div id="shop-item">
          <img src="/assets/img/morelmush.jpg" alt="button" id="temp-img">
          <div id="shop-item-info">
            <h3 id="mush-name">Marelle</h3>
            <p id="mush-desc">Marelle exudes an air of discontent and frustration. As a mage, she
              possesses powerful magic, but her attitude towards her craft is far from enthusiastic. Marelle is known
              for her sharp tongue and biting sarcasm, which often make others hesitant to approach her.

              Despite her prickly personality, Marelle is incredibly skilled at magic and has a deep understanding of
              the mystical world. She often spends her days locked away in her lab, brewing potions and experimenting
              with spells. Marelle is highly critical of herself and others, never hesitating to point out flaws or
              mistakes.</p>
            <p id="cost">Flower increase: +15 ||Cost: 300</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom3">Buy</button>
            <p id="marelle-have">Have: 0</p>
          </div>
        </div>

        <div id="shop-item">
          <img src="/assets/img/bridalmush.jpg" alt="button" id="temp-img">
          <div id="shop-item-info">
            <h3 id="mush-name">Bridei</h3>
            <p id="mush-desc">Bridei is a ray of sunshine in any room she enters with her pure and
              kind heart. Her bubbly personality and infectious laughter
              make her the life of the party.

              She is the embodiment of love and often takes it upon herself to spread kindness wherever she goes. She
              has a soft spot for those in need and will go out of her way to help them, even if it means putting
              herself at risk.</p>
            <p id="cost">Flower increase: +30 || Cost: 500</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom4">Buy</button>
            <p id="bridei-have">Have: 0</p>
          </div>
        </div>

        <div id="shop-item">
          <img src="/assets/img/PortobelloMush.jpg" alt="ben" id="temp-img">
          {{!-- <div id="temp-img">img</div> --}}
          <div id="shop-item-info">
            <h3 id="mush-name">Ben</h3>
            <p id="mush-desc">Despite his lack of understanding, Ben has found himself in the role of a tax collector.
              He's taken to
              running up to people and exclaiming, "I am a tax collector!" before demanding payment from them. To Ben,
              this is just a job like any other, and he doesn't understand why people get upset or confused when he
              tries to collect money from them.

              Unfortunately, Ben's lack of understanding has led him down a dangerous path. He doesn't understand the
              moral repercussions of what he's doing, and he doesn't realize that he's essentially stealing from people
              who have done nothing wrong. Despite the protests of those around him, Ben continues to collect "taxes"
              from anyone he can.

              Despite his misguided ways, there's a certain innocence to Ben that's hard to ignore. He's just a mushroom
              trying to make his way in the world, and he doesn't understand why everyone is so upset with him. With the
              right guidance, Ben could be a valuable member of any community, but for now, he's stuck in a cycle of
              confusion and misdeeds.</p>
            <p id="cost">Flower increase: +100 || Cost: 1000</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom5">Buy</button>
            <p id="ben-have">Have: 0</p>
          </div>
        </div>


      </div>

      <div id="ad-space">
        <div id="ad">AD</div>
        <div id="ad">AD</div>
      </div>
    </div>
  </div>

  <div class="popup" id="settings">
    <div class="overlay">
      <div class="popcontent">
        <h1 id="pop-title">Menu</h1>
        <div id="pop-media-btns">
          <button type="button" id='logout-button' class='pop-btn'><a href="/logout">Log out</a></button>
          <button type="button" id='change-password-pop' class='pop-btn'>Change Password</button>
          <button type="button" id='save-game' class='pop-btn'>Save Game</button>
          <button type="button" id='remove-ads' class='pop-btn'>Remove Ads</button>
          <button type="button" id='closepopup' class='pop-btn'>Close</button>
        </div>


      </div>
    </div>
  </div>

  <div class="popup" id="change-pass">
    <div class="overlay">
      <div class="popcontent">
        <h1 id="pop-title">Change Password</h1>
        <div id="pop-media-btns">
          <label for="new-password">New Password</label>
          <input type="password" name="new-password" id="new-password">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" name="confirm-password" id="confirm-password">

          <button type="button" id='change-password' class='pop-btn'>Change Password</button>
          <button type="button" id='settings-closepopup' class='pop-btn'>Close</button>
        </div>
      </div>
    </div>

    

        <div id="errorDiv" class='hidden'>
          <h3><span id="errorMessage"></span></h3>
        </div>
        <script src="/assets/appBundle.js"></script>
</body>

</html>