<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <div class="nav">
    <a href="/logout">Log out</a>
  </div>
  <div id="app-page">
    <div id="game-screen">
    </div>

    <div id="sideDiv">
      <div id="flowers-settings">
        <h3 id="total-current-flowers">Total Flowers: 0</h3>
        <button id="setting-button">Settings</button>
      </div>

      <div id="shop-area">
        <p id="flowerError">You Dont have Enough Flowers!</p>


        <div id="shop-item">
          <div id="temp-img">img</div>
          <div id="shop-item-info">
            <h3>Mushroom 1</h3>
            <p>Desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, velit.</p>
            <p>Cost: 10</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom1">Buy</button>
            <p id="have">Have: 1</p>
          </div>
        </div>

         <div id="shop-item">
          <div id="temp-img">img</div>
          <div id="shop-item-info">
            <h3>Mushroom 2</h3>
            <p>Desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, velit.</p>
            <p>Cost: 30</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom2">Buy</button>
            <p id="have">Have: 0</p>
          </div>
        </div>

        <div id="shop-item">
          <div id="temp-img">img</div>
          <div id="shop-item-info">
            <h3>Mushroom 3</h3>
            <p>Desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, velit.</p>
            <p>Cost: 70</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom3">Buy</button>
            <p id="have">Have: 0</p>
          </div>
        </div>


        <div id="shop-item">
          <div id="temp-img">img</div>
          <div id="shop-item-info">
            <h3>Mushroom 4</h3>
            <p>Desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, velit.</p>
            <p>Cost: 120</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom4">Buy</button>
            <p id="have">Have: 0</p>
          </div>
        </div>

        <div id="shop-item">
          <div id="temp-img">img</div>
          <div id="shop-item-info">
            <h3>Mushroom 5</h3>
            <p>Desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, velit.</p>
            <p>Cost: 200</p>
          </div>
          <div id="buy-have">
            <button class="buy-button" id="buy-mushroom5">Buy</button>
            <p id="have">Have: 0</p>
          </div>
        </div>


      </div>

      <div id="ad-space">
        <div id="ad">AD</div>
        <div id="ad">AD</div>
      </div>
    </div>
  </div>

  <div class="popup" id="settings">
    <div class="overlay">
      <div class="popcontent">
        <h1 id="pop-title">Menu</h1>
        <div id="pop-media-btns">
          <button type="button" id='logout-button' class='pop-btn'><a href="/logout">Log out</a></button>
          <button type="button" class='pop-btn'>Button 1</button>
          <button type="button" class='pop-btn'>Button 2</button>
          <button type="button" id='remove-ads' class='pop-btn'>Remove Ads</button>
          <button type="button" id='closepopup' class='pop-btn'>Close</button>
        </div>


      </div>
    </div>




    <div id="domoMessage" class='hidden'>
      <img id="speech" src="/assets/img/speech.png" alt="speech box" />
      <h3><span id="errorMessage"></span></h3>
      <img id="domo" src="assets/img/domo.png" alt="domo" />
    </div>
    <script src="/assets/appBundle.js"></script>
</body>

</html>