<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Floral Fungi</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>

  <div class="nav">
    <a href="/login">img</a>
    <a id="loginButton" href="/login">Login</a>
    <a id="signupButton" href="/signup">Sign up</a>
  </div>

  <section id="content">
    <div id='title-window'>
      <h1>Floral Fungi</h1>
      <p>Welcome to Floral Fungi, the idle game where you buy and manage a team of sentient mushrooms to collect
        beautiful flowers for you! Sit back, relax, and watch your mushroom squad do the work as you earn flowers to
        purchase even more mushrooms and expand your collection!</p>
      <div id="title-buttons">
        <button id='title-sign-up'>Sign-Up</button>
        <button id='title-login'>Login</button>
      </div>
    </div>

  </section>

  {{!-- error --}}
  <div id="errorDiv" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>

</html>