<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Title Page</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>

  <div class="nav">
    <a href="/login">img</a>
    <a id="loginButton" href="/login">Login</a>
    <a id="signupButton" href="/signup">Sign up</a>
  </div>

  <section id="content">
    <div id='title-window'>
      <h1>IGME-430 Project 2</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Facere nesciunt iusto autem asperiores, quibusdam veritatis dignissimos
        placeat ab veniam exercitationem quae magni deserunt velit. Similique libero
        iusto voluptates voluptatum officia.</p>
      <div id="title-buttons">
        <button id='title-sign-up'>Sign-Up</button>
        <button id='title-login'>Login</button>
      </div>
    </div>

  </section>

  {{!-- error --}}
  <div id="errorDiv" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>

</html>