:root {
    /* primary */
    --forest-green: #5C7B63;
    --deep-purple: #553E4E;
    /* complementary colors */
    --soft-green: #9EBC9E;
    --pale-yellow: #F7EBC6;
    --light-brown: #C6A886;
    /*accent colors */
    --soft-purple: #D9C7E8;
    --palest-pink: #fcedee;
    /*highlight color */
    --pale-pink: #FFCFD2;

}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--palest-pink);
}

#title-window {
    text-align: center;
    margin: 10%;
}

#title-window h1 {
    font-size: 3em;
    margin: 3%;
    padding: 0;
    color: var(--forest-green);
}

#title-window p {
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    color: var(--light-brown);
}

#title-buttons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
}


#title-buttons button {
    background-color: var(--soft-purple);
    border: none;
    color: var(--depp-purple);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.4s ease;
}

#title-buttons button:hover {
    background-color: var(--pale-yellow);
    color: var(--depp-purple);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: var(--light-brown);
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--light-brown);
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: var(--soft-purple);
    ;
}




.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: var(--light-brown);
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px var(--light-brown);
}

.hidden {
    display: none;
}

h4::first-letter {
    text-transform: capitalize;
}



img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}